/* banner */
.banner{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png")  no-repeat center center;
}
.banner .container{
    display: flex;
    align-items: center;
    height: 840px;
    justify-content: flex-end;
    text-align: right;
}
.banner h2{
    font-size: 4rem;
    line-height: 1.5;
}
.banner h2 span{
    font-size: 2.25rem;
    font-weight:100;
}
@media (max-width: 768px) {
    .banner{
        background: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png")   no-repeat center center;
    }  
    .banner h2{
        font-size: 3rem;
    }
    .banner h2 span{
        font-size: 1.25rem;
    }
}
@media (max-width: 375px) {
    .banner{
        background-size: cover;
    }
    .banner .container{
        height: 394px;
    }
    .banner h2{
        font-size: 2rem;
    }
    .banner h2 span{
        font-size: 1rem;
    }
}

/* 用專業的心，做專業的事 */
.main{
    text-align: center;
}
.main .mainList{
    display: flex;
    justify-content: space-between;
}
.main .mainList li{
    width: 25%;
    margin-right: 30px;
}
.main .mainList .h3{
    font-weight: bold;
}
.main .mainList li:last-child{
    margin-right: 0px;
}
.main .mainList img{
    width: 83px;
    height: 83px;
}
.main .mainList_text{
    text-align: left;
}
@media (max-width: 768px) {
    .main .mainList{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main .mainList li{
        width: 40%;
        margin-right: unset;
        margin-bottom: 32px;
    }
    .main .mainList li:nth-child(3) ,.main .mainList li:nth-child(4){
        margin-bottom: unset;
    }
}
@media (max-width: 375px) {
    .main .mainList{
        flex-direction: column;
    }
    .main .mainList li{
        width: 76%;
        margin: 0 auto 40px auto !important;
    }
    .main .mainList li:last-child{
        margin-bottom: unset;
    }
}

/* 經典系列鏡框 */
.series h2{
    text-align: center;
}
.series .seriesList li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: italic;
    text-transform: uppercase;
}
.series .seriesList .seriesImg{
    width: 58%;
}
.series .seriesList li{
    margin-bottom: 32px;
}
.series .seriesList li:last-child{
    margin-bottom: unset;
}
.series .seriesList li h3{
    width: 38%;
    display: flex;
    align-items: center;
}
.series .seriesList li h3::before{
    content: "";
    display: inline-block;  
    vertical-align: middle;
    margin-right: 8px;  
}
.series .seriesList li:nth-child(1) h3::before{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond.svg")  no-repeat center center;
    width: 48px;
    height: 48px; 
    background-size: 100%; 
}
.series .seriesList li:nth-child(2) h3::before{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun.svg")  no-repeat center center;
    width: 48px;
    height: 48px; 
    background-size: 100%; 
}
.series .seriesList li:nth-child(3) h3::before{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder.svg ")  no-repeat center center;
    width: 35px;
    height: 48px; 
    background-size: 100%;  
}
.series .seriesList li:nth-child(2){
    flex-direction: row-reverse;
}
.series .seriesList li:nth-child(2) h3{
    text-align: right;
}
@media (max-width: 768px) {
    .series h3{
        font-size: 1.75rem;/*28px*/
    }
    .series .seriesList li h3::before{
        width: 36px;
        height: 36px;    
    }
    .series .seriesList li:nth-child(1) h3::before ,.series .seriesList li:nth-child(2) h3::before  ,.series .seriesList li:nth-child(3) h3::before{
        background-size: 90%;  
    }
    .series .seriesList li:nth-child(2){
        flex-direction: row;
    }
    .series .seriesList li:nth-child(2) h3{
        text-align: left;
    }
    .series .seriesList li{
        margin-bottom: 8px;
    }
    .series .seriesList li:last-child{
        margin-bottom: unset;
    }
}
@media (max-width: 375px) {
    .series .seriesList li{
        position: relative;
    }
    .series .seriesList .seriesImg{
        width: 100%;
    }
    .series .seriesList li h3{
        width: 100%;
        position: absolute;
        text-align: center !important;
    }
}
/* 聯名系列 */  
.joint .jointBG{
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png") no-repeat center center;
    background-size: cover;
    text-align: center;
}
.joint h2{
    text-align: center;
    color: #FFFF;
}
.joint .jointList{
    display: flex;
    justify-content: space-between;  
}
.joint .jointList li{
    width: 48.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.joint .jointList li img{
    opacity: 0.5;
}
.joint .jointList li a{
    position: absolute;
    font-size: 4.5rem;
    text-decoration: none;
}
.joint .jointList li a:hover{
    color: black;
}
@media (max-width: 768px) {
    .joint .jointList li a{
        font-size: 2rem;
        line-height: 1.3;
    }
}
@media (max-width: 375px) {
    .joint .jointList{
        flex-wrap: wrap;
    }
    .joint .jointList li{
        width: 100%;
    }
    .joint .jointList li:first-child{
        margin-bottom: 16px;
    }
}
/* 顧客推薦 */ 
.recommed h2{
    text-align: center;
}
.recommed .recommedList{
    display: flex;
    justify-content: space-between;
} 
.recommed .recommedList li{
    width: 25%;
    margin-right: 30px;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;  
    position: relative;
}
.recommed .recommedList li:last-child{
    margin-right: unset;
} 
.recommed .recommedList li img{
    border-radius: 4px 4px 0 0 ; 
} 
.recommed .recommedList_text_box{
    padding: 16px;
} 
.recommed .name ,.recommed .date{
    font-size: 0.87rem;
}
.recommed .date{
    color: #707070;
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.recommed .text{
    margin-bottom: 72px;  /*52+20字高*/
} 
@media (max-width: 768px) {
    .recommed .recommedList{
        flex-wrap: wrap;
    }
    .recommed .recommedList li{
        margin-right: unset;
        width: 47.9%;
        margin-bottom: 32px;
    }
    .recommed .recommedList li:last-child , .recommed .recommedList li:nth-child(3){
        margin-bottom: unset;
    }
    .recommed .recommedList_text_box{
        padding: 16px 24px;
    }
    .recommed .date{
        left: 24px;
    }
}
@media (max-width: 375px) {
    .recommed .recommedList li ,.recommed .recommedList li:nth-child(3){
        width: 100%;
        margin-bottom: 16px;
    }
    .recommed .recommedList li:last-child{
        margin-bottom: unset;
    }
    .recommed .text{
        margin-bottom: 96px;  /*76+20字高*/
    } 
}

/* 顧客推薦 */ 
.contact h2{
    text-align: center;
}
.contact .container{
    width: 65.7%;
}
.contact input{
    width: 100%;
    height: 50px;
    padding: 14px 16px;
    border: 1px solid #000;
}
.contact textarea{
    width: 100%;
    height: 136px;
    padding: 14px 16px;
}
.contact input[text]{
    font-size: 16px;
}
.contact h3{
    margin-bottom: 20px;
}
.contact .formList p.h4{
    margin-bottom: 4px;   
}
.contact input [placeholder="text"]{
    opacity: 0.2;
}
.contact .formList li{
    margin-bottom: 16px;  
}
.contact input[type="checkbox"]{
    width: 24px;
    height: 24px;
}
.contact .formList li.checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;
}
.contact .formList li.checkbox p{
    margin-left: 4px;
}
.contact .btn-1{
    width: 33%;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    border: 0px;
    cursor: pointer;
}
.contact .buttonBox{
    text-align: center;
}
.contact button:hover{
    background-color: #650300;
}
@media (max-width: 768px) {  
    .contact h3{
        margin-bottom: 16px;
    }
    .contact .formList li{
        margin-bottom: 8px;  
    }
    .contact input{
        height: 36px;
        padding: 8px 12px;
    }
    .contact .formList p.h4{
        font-size: 0.87rem;
    }
    .contact .formList li.checkbox{
        margin-bottom: 20px;
        align-items: flex-start;
    }
    .contact .formList li.checkbox p{
        margin-left: 2px;
    }
    .contact input[type="checkbox"]{
        width: 17px;
        height: 17px;
    }
    .contact .formList li.buttonBox{
        margin-bottom: 0px;
    }
}
@media (max-width: 375px) {
    .contact .container{
        width: 100%;
    }
    .contact h3{
        margin-bottom: 8px;
    }
    .contact .btn-1{
        width: 50%;
    }

}