
/*inner 內頁共同部份*/

/*store*/
.store h2{
    text-align: left;
    position: relative;
}
.store h2::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 70px;
    background: #9F1213;
    position: absolute;
    top: 0;
    left: -16px;
}
.store .Options{
    display: flex;
    align-items: center;
}
.store .Options label{
    margin-right: 20px;
    font-size: 1.5rem;
}
.store select{
    width: 33%;
    height: 45px;
    padding: 9px 19px 10px 19px; 
    border: #CED4DA 1px solid;  
}
.store .storeList{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: -32px;
}
.store .storeList li.storeItem{
    width: 31.5%;
    margin-right: 30px;
    margin-bottom: 32px;
}
.store .storeList li:nth-child(3n){
    margin-right: unset;
}
.store .storeName{
    padding: 12px 24px;
    border: #79606020 1px solid;  
}
.store .loaction{
    padding: 16px 24px;
    border: #79606020 1px solid;  
}
.store .loaction li{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.store .loaction li:last-child{
    margin-bottom: unset;
}
.store .loaction li::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.store .loaction li.loactionTel::before{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone-black.svg") no-repeat center center;
    background-size: 100%;
}
.store .loaction li.loactionTime::before{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-clock-black.svg") no-repeat center center;
    background-size: 100%;
}
.store .loaction li.loactionAdd::before{
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-map.svg") no-repeat center center;
    background-size: 83%;
}
.store .loaction li.loactionAdd{
    align-items: flex-start;
}
.store .loactionTel a{
    color: #000;
    text-decoration: none;
}
.store a.more{
    width: 100%;
    font-size: 1.18rem;/*19*/
    padding: 19px 0;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.store a.more:hover{
    background: #AA0601;
}
@media (max-width: 768px) {
    .store h2{
        font-size: 3rem;/*修正共用的768為2*16=32*/
    }
    .store h2.mb-5{
        margin-bottom: 32px;
    }
    .store .mb-6{
        margin-bottom: 24px;
    }
    .store h2::before{
        width:5px;
        height: 70px;
    }
    .store .Options label{
        font-size: 1rem;
    }
    .store select{
        padding: 8px 16px;  
    }
    .store .storeList{ 
        justify-content: space-between;
    }
    .store .storeList li.storeItem{
        width: 47.6%;
        margin-right: unset;
    }
}
@media (max-width: 375px) {
    .store h2{
        font-size: 1.75rem;/*修正共用的375為1.5=24*/
    }
    .store h2.ml-1{
        margin-left: 8px;
    }
    .store h2.mb-5{
        margin-bottom: 24px;
    }
    .store .mb-6{
        margin-bottom: 20px;
    }
    .store h2::before{
        width:3px;
        height: 40px;
    }
    .store .Options label{
        font-size: 0.87rem;
        line-height: 2;
    }
    .store .storeList li.storeItem{
        width: 100%;
    }
    .store .Options label{
        margin-right: 12px;
    }
    .store select{
        width: 77%;
        padding: 7px 16px;  
    }
}

/*googlemap*/
.googlemap .storeList{
    justify-content: space-between;
}
.googlemap li.map{
    width: 65%;
}
.googlemap li.map iframe{
    width: 100%;
    min-height: 100%;
}
.googlemap li.storeItem{
    margin-bottom: unset;  /*扣除.store產生的*/
}
@media (max-width: 768px) {
    .googlemap .storeList li.storeItem{
        width: 100%;
    }
    .googlemap .storeList{
        flex-direction: column;
    }
    .googlemap .storeItem{
        display: flex;
        justify-content: space-between;
    }
    .googlemap .img{
        width: 45%;
        margin-right: 30px;
    }
    .googlemap .text{
        width: 54%;
    }
    .googlemap .storeName{      
       padding: 8px 16px;
    }
    .googlemap li.map{
        width: 100%;
        height: 442px;
    }
    .googlemap .storeList {
        margin-bottom: unset;
    }
}
@media (max-width: 375px) {
    .googlemap .storeList li.storeItem{
        width: 100%;
        flex-direction: column;
    }
    .googlemap .img ,.googlemap .text{
        width: 100%;
    }
}




/*qa*/
.qa .title{
    font-size: 2rem;
}
.qa .qaList{
    width: 83%;
    margin-bottom: -32px;
}
.qa .qaList li{
    margin-bottom: 32px;
}
.qa .qaList li h5{
    font-weight: bold;
}
.qa .qaList li p{
    margin-left: 8.3%;
}
@media (max-width: 768px) {
    .qa .qaList{
        width: 100%;
        margin-bottom: -24px;
    }
    .qa .qaList li{
        margin-bottom: 24px;
    }
    .qa .qaList li p{
        margin-left: 8.6%;
    }
}
@media (max-width: 375px) {
    .qa .qaList{
        margin-bottom: -20px;
    }
    .qa .qaList li{
        margin-bottom: 20px;
    }
    .qa .qaList li p{
        margin-left: unset;
    }
    .qa .qaItem .mb-2{
        margin-bottom: 8px;
    }
}

/*bolg*/
.blogNav a{
    text-decoration: none;
    color: #fff;
}
.blogNav .blogTopBar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.blogNav .navBlogList{
    display: flex;
    justify-content: start;
}
.blogNav .navBlogList li {
    padding: 12px 24px;
}
.blogNav .navBlogList li:hover{
    background: #8a0500;
}
.blogNav .search a{
    content: "";
    display: block;
    text-indent: 101%;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 29px;
    height: 29px;
    margin: 12px 0;
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-search.svg") no-repeat center center;
}
.blog h2{
    position: relative;
}
.blog h2::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 70px;
    background: #9F1213;
    position: absolute;
    top: 0;
    left: -16px;
}
.blog ul.blogList li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.blog ul.blogList li .img{
    width: 57%;
    height: auto;
    margin-right: 30px;
}
.blog ul.blogList li .img img{
    width: 100%;
}
.blog ul.blogList li .text{
    width: 42%;
}
.blog ul.blogList li .text h3{
    font-size: 2rem;
    margin-bottom: 2px;
}
.blog ul.blogList li .text h4{
    display: flex;
    justify-content: space-between;
}
.blog ul.blogList li .text h4 span{
    opacity: 0.7;
}
.blog ul.blogList li .text p{
    font-size: 1.25rem;
}
.blog a.more{
    font-size: 2.25rem;
    line-height: 1.5;
    text-decoration: none;
    text-align: right;
    display: block;
}
.blog .page{
    margin-top: 36px;/*請問這個為何沒有反應?? ul.blogList也沒有反應*/
}
.blog li.blogItem:last-child{
    margin-bottom: 96px;
}
.blog .blogList .text p span{
    display: none;
}
@media (max-width: 768px) {
    .blog .h2{
        font-size: 3rem;
    }
    .blog h2.mb-5{
        margin-bottom: 40px;
    }
    .blog .blogList .text p span{
        display: block;
    }
    .blog a.more{
        display: none;
    }
    .blog ul.blogList li{
        margin-bottom: 24px;
    }
    .blog ul.blogList li .text h3{
        font-size: 1.25rem;
        margin-bottom: 0px;
    }
    .blog ul.blogList li .text h4{
        font-size: 1rem;
    }
    .blog ul.blogList li .text p{
        font-size: 0.87rem;
        position: relative;
    }
    .blog ul.blogList li .text h4.mb-3{
        margin-bottom: 32px;
    }
    .blog ul.blogList li .text p.mb-3{
        margin-bottom: unset;
    }
    .blog ul.blogList li .img{
        width: 49%;
    }
    .blog ul.blogList li .text{
        width: 48%;
    }
    .blog .modle-more{
        position: absolute;
        right: 64px;
        bottom: 0;
        font-weight: bold;
    }
    .blog li.blogItem:last-child{
        margin-bottom: 64px;
    }
}
@media (max-width: 375px) {
    .blogNav {
        display: none;
    }
    .blog .h2{
        font-size: 1.75rem;
    }
    .blog h2::before{
        height: 40px;
        left: -8px;
    }
    .blog h2.mb-5{
        margin-bottom: 28px;
    }
    .blog h2.ml-1{
        margin-left: 8px;
    }
    .blog ul.blogList li{
        flex-direction: column;
    }
    .blog ul.blogList li .img{
        width: 100%;
        margin-bottom: 8px;
    }
    .blog ul.blogList li .text{
        width: 100%;
    }
    .blog ul.blogList li .text h3{
        font-size: 1rem;
    }
    .blog ul.blogList li .text h4 ,.blog ul.blogList li .text h4 span{
        font-size: 0.87rem;
    }
    .blog ul.blogList li .text p{
        display: none;
    }
    .blog ul.blogList li .text h4.mb-3{
        margin-bottom: unset;
    }
    .blog ul.blogList li{
        margin-bottom: 20px;
    }
}