@charset "UTF-8";
/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/********* 共同部份 *********/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Noto Sans TC','Roboto', 'Source Sans Pro',-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,sans-serif;
  line-height: 1.5;
  -webkit-transform: 0.3;
      -ms-transform: 0.3;
          transform: 0.3; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.warp {
  width: 100%; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; } }

@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 15px; } }

/*大小*/
.h1 {
  font-size: 4rem;
  /*64*/ }

.h2 {
  font-size: 3rem;
  /*48*/
  font-weight: bold;
  font-family: "Noto Sans TC"; }

.h3 {
  font-size: 1.5rem;
  /*24*/ }

.h4 {
  font-size: 1rem;
  /*16*/ }

.h5 {
  font-size: 1.25rem;
  /*20*/ }

.h6 {
  font-size: 2.25rem;
  /*36*/ }

@media (max-width: 768px) {
  .h2 {
    font-size: 2rem;
    /*36*/ } }

@media (max-width: 375px) {
  .h2 {
    font-size: 1.5rem;
    /*24*/ } }

/* 色彩  主primary 副sencdary 警告warning 危險dnger  */
.bg-primary {
  background: #FBF2F2; }

.bg-sencdary {
  background: #111619; }

.bg-thirdary {
  background: #AA0601; }

.bg-fourth {
  background: #650300; }

.text-sencdary {
  color: #AA0601; }

.text-thirdary {
  color: #650300; }

/* 間距  8 16 24 40 60*/
.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 40px; }

.mb-5 {
  margin-bottom: 60px; }

.mb-6 {
  margin-bottom: 32px; }

.ml-1 {
  margin-left: 16px; }

.mr-1 {
  margin-right: 16px; }

.ptb-1 {
  padding-top: 60px;
  padding-bottom: 80px;
  /*首頁的每個senction內距*/ }

.ptb-2 {
  padding-top: 96px;
  padding-bottom: 106px;
  /*每個inner內距*/ }

@media (max-width: 768px) {
  .ptb-1 {
    padding-top: 40px;
    padding-bottom: 56px;
    /*首頁的每個senction內距*/ }
  .ptb-2 {
    padding-top: 60px;
    padding-bottom: 96px;
    /*每個inner內距*/ }
  .mb-4 {
    margin-bottom: 32px; } }

@media (max-width: 375px) {
  .ptb-1 {
    padding-top: 32px;
    padding-bottom: 40px;
    /*每個內距*/ }
  .ptb-2 {
    padding-top: 28px;
    padding-bottom: 56px;
    /*每個inner內距*/ }
  .mb-4 {
    margin-bottom: 20px; } }

/*page*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none; }

.page .page-link {
  position: relative;
  display: block;
  color: #555;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #555;
  -webkit-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  padding: 12px 16px; }

.pagination .active .page-link {
  background-color: #000;
  color: #fff; }

.pagination .disabled .page-link {
  background-color: #F2F2F2; }

.page-item:not(:first-child) .page-link {
  margin-left: -1px; }

@media (max-width: 375px) {
  .page {
    font-size: 16px; }
  .page .page-link {
    padding: 12px 15px; }
  .page li:first-child .page-link, .page li:last-child .page-link {
    padding: 12px 11px;
    /*縮小會跑位*/ }
  .blog li.blogItem:last-child {
    margin-bottom: 40px; } }

/* header */
.header {
  padding: 30px 56px 30px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }

.header h1 a {
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png);
  display: block;
  width: 80px;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 101%; }

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header nav li a {
  text-decoration: none;
  color: #fff;
  padding: 8px 32px; }

.header nav li a:hover {
  background: #000;
  border-radius: 5px; }

@media (max-width: 768px) {
  .header {
    padding: 30px 19px 30px 39px; }
  .header nav li a {
    padding: 8px 20px; } }

@media (max-width: 375px) {
  .header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header h1 a {
    width: 48px;
    height: 29px;
    background-size: 100%;
    margin: 10px auto; }
  .header nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header nav li {
    width: 50%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #fff; } }

/*footer*/
.footer .linkBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.footer .container {
  padding-top: 32px;
  padding-bottom: 39px; }

.footer .linkBox .menuList, .footer .linkBox .linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer .menuList li {
  margin-right: 12px; }

.footer .menuList li a {
  padding: 12px 12px;
  text-decoration: none;
  color: #fff; }

.footer .menuList li a:hover {
  background-color: #650300;
  border-radius: 5px; }

.footer .linkList li {
  padding-left: 32px; }

.footer .linkList a.icon_fb {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg") no-repeat center center; }

.footer .linkList a.icon_ig {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg) no-repeat center center; }

.footer .linkList a.icon_line {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg) no-repeat center center; }

.footer .linkList a {
  width: 48px;
  height: 48px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.footer .addBox li.tel {
  margin-bottom: 16px; }

.footer .addBox li.mail {
  margin-bottom: 24px; }

.footer .addBox li a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .tel a::before, .footer .mail a::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px; }

.footer .addBox a::before {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg) no-repeat center center;
  background-size: 100%; }

.footer .mail a::before {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg) no-repeat center center;
  background-size: 100%; }

.footer .footerBottom {
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding-top: 32px; }

.footer .copyrightList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 0.87rem;
  line-height: 1.5; }

.footer .copyrightList li {
  margin-left: 48px; }

.footer .copyrightList a {
  text-decoration: none;
  color: #fff; }

@media (max-width: 768px) {
  .footer .container {
    padding-top: 32px;
    padding-bottom: 32px; }
  .footer .menuList li {
    margin-right: 10px; }
  .footer .menuList li a {
    padding: 0px 10px; }
  .footer .linkList a {
    width: 24px;
    height: 24px; }
  .footer .linkList a.icon_fb, .footer .linkList a.icon_ig, .footer .linkList a.icon_line {
    background-size: 100%; }
  .footer .linkList li {
    padding-left: 24px; }
  .footer .linkList li:first-child {
    padding-left: 0px; }
  .footer .h6 {
    font-size: 1.25rem; }
  .footer .tel a::before, .footer .mail a::before {
    width: 24px;
    height: 24px;
    margin-right: 10px; }
  .footer .addBox li.tel {
    margin-bottom: 12px; }
  .footer .addBox li.mail {
    margin-bottom: 20px; }
  .footer .footerBottom {
    padding-top: 24px; }
  .footer .copyrightList li {
    margin-left: 0px; }
  .footer .copyrightList a {
    padding: 12px; } }

@media (max-width: 375px) {
  .footer .container {
    padding-top: 25px;
    padding-bottom: 24px; }
  .footer .linkBox .menuList {
    display: none; }
  .footer .footerTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .h6 {
    font-size: 1rem; }
  .footer .tel a::before, .footer .mail a::before {
    width: 20px;
    height: 20px;
    margin-right: 5px; }
  .footer .addBox li.tel {
    margin-bottom: 6px; }
  .footer .addBox li.mail {
    margin-bottom: 24px; }
  .footer .footerBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 15px; }
  .footer .footerBottom p {
    margin-bottom: 4px; }
  .footer .copyrightList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer .copyrightList a {
    padding: 4px 0; } }

/* banner */
.banner {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png") no-repeat center center; }

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 840px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right; }

.banner h2 {
  font-size: 4rem;
  line-height: 1.5; }

.banner h2 span {
  font-size: 2.25rem;
  font-weight: 100; }

@media (max-width: 768px) {
  .banner {
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png") no-repeat center center; }
  .banner h2 {
    font-size: 3rem; }
  .banner h2 span {
    font-size: 1.25rem; } }

@media (max-width: 375px) {
  .banner {
    background-size: cover; }
  .banner .container {
    height: 394px; }
  .banner h2 {
    font-size: 2rem; }
  .banner h2 span {
    font-size: 1rem; } }

/* 用專業的心，做專業的事 */
.main {
  text-align: center; }

.main .mainList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main .mainList li {
  width: 25%;
  margin-right: 30px; }

.main .mainList .h3 {
  font-weight: bold; }

.main .mainList li:last-child {
  margin-right: 0px; }

.main .mainList img {
  width: 83px;
  height: 83px; }

.main .mainList_text {
  text-align: left; }

@media (max-width: 768px) {
  .main .mainList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .main .mainList li {
    width: 40%;
    margin-right: unset;
    margin-bottom: 32px; }
  .main .mainList li:nth-child(3), .main .mainList li:nth-child(4) {
    margin-bottom: unset; } }

@media (max-width: 375px) {
  .main .mainList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main .mainList li {
    width: 76%;
    margin: 0 auto 40px auto !important; }
  .main .mainList li:last-child {
    margin-bottom: unset; } }

/* 經典系列鏡框 */
.series h2 {
  text-align: center; }

.series .seriesList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto';
  font-style: italic;
  text-transform: uppercase; }

.series .seriesList .seriesImg {
  width: 58%; }

.series .seriesList li {
  margin-bottom: 32px; }

.series .seriesList li:last-child {
  margin-bottom: unset; }

.series .seriesList li h3 {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.series .seriesList li h3::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px; }

.series .seriesList li:nth-child(1) h3::before {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond.svg") no-repeat center center;
  width: 48px;
  height: 48px;
  background-size: 100%; }

.series .seriesList li:nth-child(2) h3::before {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun.svg") no-repeat center center;
  width: 48px;
  height: 48px;
  background-size: 100%; }

.series .seriesList li:nth-child(3) h3::before {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder.svg ") no-repeat center center;
  width: 35px;
  height: 48px;
  background-size: 100%; }

.series .seriesList li:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.series .seriesList li:nth-child(2) h3 {
  text-align: right; }

@media (max-width: 768px) {
  .series h3 {
    font-size: 1.75rem;
    /*28px*/ }
  .series .seriesList li h3::before {
    width: 36px;
    height: 36px; }
  .series .seriesList li:nth-child(1) h3::before, .series .seriesList li:nth-child(2) h3::before, .series .seriesList li:nth-child(3) h3::before {
    background-size: 90%; }
  .series .seriesList li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .series .seriesList li:nth-child(2) h3 {
    text-align: left; }
  .series .seriesList li {
    margin-bottom: 8px; }
  .series .seriesList li:last-child {
    margin-bottom: unset; } }

@media (max-width: 375px) {
  .series .seriesList li {
    position: relative; }
  .series .seriesList .seriesImg {
    width: 100%; }
  .series .seriesList li h3 {
    width: 100%;
    position: absolute;
    text-align: center !important; } }

/* 聯名系列 */
.joint .jointBG {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png") no-repeat center center;
  background-size: cover;
  text-align: center; }

.joint h2 {
  text-align: center;
  color: #FFFF; }

.joint .jointList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.joint .jointList li {
  width: 48.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff; }

.joint .jointList li img {
  opacity: 0.5; }

.joint .jointList li a {
  position: absolute;
  font-size: 4.5rem;
  text-decoration: none; }

.joint .jointList li a:hover {
  color: black; }

@media (max-width: 768px) {
  .joint .jointList li a {
    font-size: 2rem;
    line-height: 1.3; } }

@media (max-width: 375px) {
  .joint .jointList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .joint .jointList li {
    width: 100%; }
  .joint .jointList li:first-child {
    margin-bottom: 16px; } }

/* 顧客推薦 */
.recommed h2 {
  text-align: center; }

.recommed .recommedList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recommed .recommedList li {
  width: 25%;
  margin-right: 30px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px;
  position: relative; }

.recommed .recommedList li:last-child {
  margin-right: unset; }

.recommed .recommedList li img {
  border-radius: 4px 4px 0 0; }

.recommed .recommedList_text_box {
  padding: 16px; }

.recommed .name, .recommed .date {
  font-size: 0.87rem; }

.recommed .date {
  color: #707070;
  position: absolute;
  bottom: 16px;
  left: 16px; }

.recommed .text {
  margin-bottom: 72px;
  /*52+20字高*/ }

@media (max-width: 768px) {
  .recommed .recommedList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .recommed .recommedList li {
    margin-right: unset;
    width: 47.9%;
    margin-bottom: 32px; }
  .recommed .recommedList li:last-child, .recommed .recommedList li:nth-child(3) {
    margin-bottom: unset; }
  .recommed .recommedList_text_box {
    padding: 16px 24px; }
  .recommed .date {
    left: 24px; } }

@media (max-width: 375px) {
  .recommed .recommedList li, .recommed .recommedList li:nth-child(3) {
    width: 100%;
    margin-bottom: 16px; }
  .recommed .recommedList li:last-child {
    margin-bottom: unset; }
  .recommed .text {
    margin-bottom: 96px;
    /*76+20字高*/ } }

/* 顧客推薦 */
.contact h2 {
  text-align: center; }

.contact .container {
  width: 65.7%; }

.contact input {
  width: 100%;
  height: 50px;
  padding: 14px 16px;
  border: 1px solid #000; }

.contact textarea {
  width: 100%;
  height: 136px;
  padding: 14px 16px; }

.contact input[text] {
  font-size: 16px; }

.contact h3 {
  margin-bottom: 20px; }

.contact .formList p.h4 {
  margin-bottom: 4px; }

.contact input [placeholder="text"] {
  opacity: 0.2; }

.contact .formList li {
  margin-bottom: 16px; }

.contact input[type="checkbox"] {
  width: 24px;
  height: 24px; }

.contact .formList li.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }

.contact .formList li.checkbox p {
  margin-left: 4px; }

.contact .btn-1 {
  width: 33%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  border: 0px;
  cursor: pointer; }

.contact .buttonBox {
  text-align: center; }

.contact button:hover {
  background-color: #650300; }

@media (max-width: 768px) {
  .contact h3 {
    margin-bottom: 16px; }
  .contact .formList li {
    margin-bottom: 8px; }
  .contact input {
    height: 36px;
    padding: 8px 12px; }
  .contact .formList p.h4 {
    font-size: 0.87rem; }
  .contact .formList li.checkbox {
    margin-bottom: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contact .formList li.checkbox p {
    margin-left: 2px; }
  .contact input[type="checkbox"] {
    width: 17px;
    height: 17px; }
  .contact .formList li.buttonBox {
    margin-bottom: 0px; } }

@media (max-width: 375px) {
  .contact .container {
    width: 100%; }
  .contact h3 {
    margin-bottom: 8px; }
  .contact .btn-1 {
    width: 50%; } }

/*store*/
.store h2 {
  text-align: left;
  position: relative; }

.store h2::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 70px;
  background: #9F1213;
  position: absolute;
  top: 0;
  left: -16px; }

.store .Options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.store .Options label {
  margin-right: 20px;
  font-size: 1.5rem; }

.store select {
  width: 33%;
  height: 45px;
  padding: 9px 19px 10px 19px;
  border: #CED4DA 1px solid; }

.store .storeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -32px; }

.store .storeList li.storeItem {
  width: 31.5%;
  margin-right: 30px;
  margin-bottom: 32px; }

.store .storeList li:nth-child(3n) {
  margin-right: unset; }

.store .storeName {
  padding: 12px 24px;
  border: #79606020 1px solid; }

.store .loaction {
  padding: 16px 24px;
  border: #79606020 1px solid; }

.store .loaction li {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.store .loaction li:last-child {
  margin-bottom: unset; }

.store .loaction li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px; }

.store .loaction li.loactionTel::before {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone-black.svg") no-repeat center center;
  background-size: 100%; }

.store .loaction li.loactionTime::before {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-clock-black.svg") no-repeat center center;
  background-size: 100%; }

.store .loaction li.loactionAdd::before {
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-map.svg") no-repeat center center;
  background-size: 83%; }

.store .loaction li.loactionAdd {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.store .loactionTel a {
  color: #000;
  text-decoration: none; }

.store a.more {
  width: 100%;
  font-size: 1.18rem;
  /*19*/
  padding: 19px 0;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none; }

.store a.more:hover {
  background: #AA0601; }

@media (max-width: 768px) {
  .store h2 {
    font-size: 3rem;
    /*修正共用的768為2*16=32*/ }
  .store h2.mb-5 {
    margin-bottom: 32px; }
  .store .mb-6 {
    margin-bottom: 24px; }
  .store h2::before {
    width: 5px;
    height: 70px; }
  .store .Options label {
    font-size: 1rem; }
  .store select {
    padding: 8px 16px; }
  .store .storeList {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .store .storeList li.storeItem {
    width: 47.6%;
    margin-right: unset; } }

@media (max-width: 375px) {
  .store h2 {
    font-size: 1.75rem;
    /*修正共用的375為1.5=24*/ }
  .store h2.ml-1 {
    margin-left: 8px; }
  .store h2.mb-5 {
    margin-bottom: 24px; }
  .store .mb-6 {
    margin-bottom: 20px; }
  .store h2::before {
    width: 3px;
    height: 40px; }
  .store .Options label {
    font-size: 0.87rem;
    line-height: 2; }
  .store .storeList li.storeItem {
    width: 100%; }
  .store .Options label {
    margin-right: 12px; }
  .store select {
    width: 77%;
    padding: 7px 16px; } }

/*googlemap*/
.googlemap .storeList {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.googlemap li.map {
  width: 65%; }

.googlemap li.map iframe {
  width: 100%;
  min-height: 100%; }

.googlemap li.storeItem {
  margin-bottom: unset;
  /*扣除.store產生的*/ }

@media (max-width: 768px) {
  .googlemap .storeList li.storeItem {
    width: 100%; }
  .googlemap .storeList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .googlemap .storeItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .googlemap .img {
    width: 45%;
    margin-right: 30px; }
  .googlemap .text {
    width: 54%; }
  .googlemap .storeName {
    padding: 8px 16px; }
  .googlemap li.map {
    width: 100%;
    height: 442px; }
  .googlemap .storeList {
    margin-bottom: unset; } }

@media (max-width: 375px) {
  .googlemap .storeList li.storeItem {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .googlemap .img, .googlemap .text {
    width: 100%; } }

/*bolg*/
.blogNav a {
  text-decoration: none;
  color: #fff; }

.blogNav .blogTopBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center; }

.blogNav .navBlogList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start; }

.blogNav .navBlogList li {
  padding: 12px 24px; }

.blogNav .navBlogList li:hover {
  background: #8a0500; }

.blogNav .search a {
  content: "";
  display: block;
  text-indent: 101%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  width: 29px;
  height: 29px;
  margin: 12px 0;
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-search.svg") no-repeat center center; }

.blog h2 {
  position: relative; }

.blog h2::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 70px;
  background: #9F1213;
  position: absolute;
  top: 0;
  left: -16px; }

.blog ul.blogList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px; }

.blog ul.blogList li .img {
  width: 57%;
  height: auto;
  margin-right: 30px; }

.blog ul.blogList li .img img {
  width: 100%; }

.blog ul.blogList li .text {
  width: 42%; }

.blog ul.blogList li .text h3 {
  font-size: 2rem;
  margin-bottom: 2px; }

.blog ul.blogList li .text h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog ul.blogList li .text h4 span {
  opacity: 0.7; }

.blog ul.blogList li .text p {
  font-size: 1.25rem; }

.blog a.more {
  font-size: 2.25rem;
  line-height: 1.5;
  text-decoration: none;
  text-align: right;
  display: block; }

.blog .page {
  margin-top: 36px;
  /*請問這個為何沒有反應?? ul.blogList也沒有反應*/ }

.blog li.blogItem:last-child {
  margin-bottom: 96px; }

.blog .blogList .text p span {
  display: none; }

@media (max-width: 768px) {
  .blog .h2 {
    font-size: 3rem; }
  .blog h2.mb-5 {
    margin-bottom: 40px; }
  .blog .blogList .text p span {
    display: block; }
  .blog a.more {
    display: none; }
  .blog ul.blogList li {
    margin-bottom: 24px; }
  .blog ul.blogList li .text h3 {
    font-size: 1.25rem;
    margin-bottom: 0px; }
  .blog ul.blogList li .text h4 {
    font-size: 1rem; }
  .blog ul.blogList li .text p {
    font-size: 0.87rem;
    position: relative; }
  .blog ul.blogList li .text h4.mb-3 {
    margin-bottom: 32px; }
  .blog ul.blogList li .text p.mb-3 {
    margin-bottom: unset; }
  .blog ul.blogList li .img {
    width: 49%; }
  .blog ul.blogList li .text {
    width: 48%; }
  .blog .modle-more {
    position: absolute;
    right: 64px;
    bottom: 0;
    font-weight: bold; }
  .blog li.blogItem:last-child {
    margin-bottom: 64px; } }

@media (max-width: 375px) {
  .blogNav {
    display: none; }
  .blog .h2 {
    font-size: 1.75rem; }
  .blog h2::before {
    height: 40px;
    left: -8px; }
  .blog h2.mb-5 {
    margin-bottom: 28px; }
  .blog h2.ml-1 {
    margin-left: 8px; }
  .blog ul.blogList li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blog ul.blogList li .img {
    width: 100%;
    margin-bottom: 8px; }
  .blog ul.blogList li .text {
    width: 100%; }
  .blog ul.blogList li .text h3 {
    font-size: 1rem; }
  .blog ul.blogList li .text h4, .blog ul.blogList li .text h4 span {
    font-size: 0.87rem; }
  .blog ul.blogList li .text p {
    display: none; }
  .blog ul.blogList li .text h4.mb-3 {
    margin-bottom: unset; }
  .blog ul.blogList li {
    margin-bottom: 20px; } }

/*bolgsContent*/
.blogContent .container {
  padding-top: 8px;
  padding-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blogContent .h2 {
  line-height: 70px; }

.blogContent .titleSencd {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .blogContent .titleSencd span {
    color: #6C6C6C; }

.blogContent .content {
  width: 78%;
  margin-right: 2%;
  margin-bottom: 30px; }
  .blogContent .content .path a {
    text-decoration: none;
    color: #000; }
  .blogContent .content .path a.disabled {
    color: #AA0601; }
  .blogContent .content .titleSencd {
    font-size: 1.75rem; }
  .blogContent .content .txt a {
    text-decoration: none;
    font-weight: bold; }
  .blogContent .content .txtBox {
    width: 100%; }
    .blogContent .content .txtBox img {
      width: 100%; }
    .blogContent .content .txtBox p {
      opacity: 0.6; }
  .blogContent .content .linkBox {
    margin-top: 8px;
    margin-bottom: 24px;
    display: inline-block; }
    .blogContent .content .linkBox a.h5 {
      color: #000;
      text-decoration: none;
      font-weight: bold; }
    .blogContent .content .linkBox ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start; }
    .blogContent .content .linkBox li {
      margin-right: 20px; }
    .blogContent .content .linkBox a.icon_fb, .blogContent .content .linkBox .icon_ig {
      display: block;
      text-indent: 101%;
      overflow: hidden;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      width: 24px;
      height: 24px; }
    .blogContent .content .linkBox a.icon_fb {
      background: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo-facebook.svg") no-repeat center center; }
    .blogContent .content .linkBox a.icon_ig {
      background: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo-instagram.svg") no-repeat center center; }
  .blogContent .content .arrowBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blogContent .content .arrowBox a {
      text-decoration: none;
      color: #000; }
    .blogContent .content .arrowBox a.next, .blogContent .content .arrowBox a.prev {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .blogContent .content .arrowBox a.prev:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("../../images/icon-prev.svg") no-repeat center center;
      background-size: 100%;
      margin-right: 12px; }
    .blogContent .content .arrowBox a.next::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-arrow.svg") no-repeat center center;
      background-size: 100%;
      margin-left: 12px; }

.blogContent .tagBox {
  width: 20%;
  margin-top: 78px; }
  .blogContent .tagBox .tags {
    font-size: 1.75rem;
    font-weight: bold; }
  .blogContent .tagBox p {
    position: relative;
    padding-left: 50px;
    margin-bottom: 14px; }
  .blogContent .tagBox p::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 38px;
    height: 28px;
    background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-tag.svg") no-repeat center center;
    background-size: 100%; }
  .blogContent .tagBox a {
    font-size: 1.5rem;
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold; }

@media (max-width: 768px) {
  .blogContent .container {
    padding-bottom: 66px; }
  .blogContent .h2 {
    font-size: 2rem;
    line-height: 46px; }
  .blogContent h2.mb-1 {
    margin-bottom: 4px; }
  .blogContent .txtBox .mb-3 {
    margin-bottom: 16px; }
  .blogContent .txtBox .mb-4 {
    margin-bottom: 24px; }
  .blogContent .linkBox {
    margin-top: 4px;
    margin-bottom: 16px; }
    .blogContent .linkBox a.h5 {
      font-size: 1rem; }
    .blogContent .linkBox a.icon_fb, .blogContent .linkBox .icon_ig {
      width: 20px;
      height: 20px; }
  .blogContent .content .arrowBox a {
    font-size: 1rem; }
  .blogContent .content .arrowBox a.next::after, .blogContent .content .arrowBox a.prev::before {
    width: 16px;
    height: 16px; }
  .blogContent .content .txtBox {
    font-size: 1rem; }
  .blogContent hr.mb-3 {
    margin-bottom: 16px; } }

@media (max-width: 375px) {
  .blogContentNav {
    display: block; }
    .blogContentNav nav {
      width: 100%; }
    .blogContentNav .navBlogList {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 1%; }
    .blogContentNav .navBlogList li {
      width: 23%;
      margin: 0 1%;
      font-size: 1rem;
      padding: 16px 0px;
      text-align: center; }
    .blogContentNav .navBlogList li:last-child {
      width: 25%; }
    .blogContentNav .search a {
      display: none;
      font-size: 1rem; }
    .blogContentNav h2.mb-1 {
      margin-bottom: unset; }
  .blogContent .container {
    padding-bottom: 56px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blogContent .content {
    width: 100%; }
    .blogContent .content .titleSencd {
      font-size: 1rem;
      margin-bottom: 20px; }
    .blogContent .content .linkBox {
      margin-top: 0;
      margin-bottom: 16px; }
    .blogContent .content hr.mb-3 {
      margin-bottom: 10px; }
    .blogContent .content .arrowBox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .blogContent .content .arrowBox a.next {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
  .blogContent h2.mb-1 {
    margin-bottom: 0px; }
  .blogContent .tagBox {
    width: 100%;
    margin-top: unset; }
    .blogContent .tagBox P {
      margin-bottom: 8px;
      font-size: 1.25rem; }
    .blogContent .tagBox a {
      font-size: 1rem; } }

/*qa*/
.qa .title {
  font-size: 2rem; }

.qa .qaList {
  width: 83%;
  margin-bottom: -32px; }

.qa .qaList li {
  margin-bottom: 32px; }

.qa .qaList li h5 {
  font-weight: bold; }

.qa .qaList li p {
  margin-left: 8.3%; }

@media (max-width: 768px) {
  .qa .qaList {
    width: 100%;
    margin-bottom: -24px; }
  .qa .qaList li {
    margin-bottom: 24px; }
  .qa .qaList li p {
    margin-left: 8.6%; } }

@media (max-width: 375px) {
  .qa .qaList {
    margin-bottom: -20px; }
  .qa .qaList li {
    margin-bottom: 20px; }
  .qa .qaList li p {
    margin-left: unset; }
  .qa .qaItem .mb-2 {
    margin-bottom: 8px; } }

/*pro*/
.subnav {
  font-weight: bold; }
  .subnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-left: 1px solid #DCDCDC; }
    .subnav ul li {
      width: 33.333%;
      border-right: 1px solid #DCDCDC;
      border-bottom: 8px solid #fff; }
    .subnav ul li:hover, .subnav ul li.active {
      border-bottom: 8px solid #AA0601; }
    .subnav ul a {
      text-decoration: none;
      display: block;
      font-size: 2rem;
      color: #000;
      padding-top: 27px;
      padding-bottom: 27px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .subnav ul li:nth-child(1) a::before,
    .subnav ul li:nth-child(2) a::before,
    .subnav ul li:nth-child(3) a::before {
      content: "";
      display: inline-block;
      width: 44px;
      height: 44px;
      margin-right: 10px; }
    .subnav ul li:nth-child(1) a::before {
      background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond-black.svg") no-repeat center center;
      background-size: 100%; }
    .subnav ul li:nth-child(2) a::before {
      background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun-black.svg") no-repeat center center;
      background-size: 100%; }
    .subnav ul li:nth-child(3) a::before {
      background: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder-black.svg") no-repeat center center;
      background-size: 75%; }

.subbanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .subbanner .picBg-1, .subbanner .picBg-2 {
    width: 50%; }
    .subbanner .picBg-1 img, .subbanner .picBg-2 img {
      width: 100%;
      height: 304px; }

.proContent {
  padding-top: 80px;
  margin-bottom: 160px; }
  .proContent ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -1% -104px -1%; }
    .proContent ul li {
      width: 31.33%;
      margin: 0 1% 104px 1%; }
      .proContent ul li img {
        width: 100%;
        max-height: 204px; }
  .proContent p.h2 {
    font-size: 2.62rem;
    text-align: center; }
    .proContent p.h2 span {
      font-size: 2rem; }
  .proContent .txtBox {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .proContent .txtBox .price {
      font-weight: bold; }
  .proContent .colorBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
    .proContent .colorBox .colorBg-1, .proContent .colorBox .colorBg-2 {
      border-radius: 4px;
      width: 24px;
      height: 24px; }
    .proContent .colorBox .colorBg-1 {
      background-color: #5F3E2D;
      margin-right: 8px; }
    .proContent .colorBox .colorBg-2 {
      background-color: #B75929; }

@media (max-width: 768px) {
  .subnav ul a {
    font-size: 1.5rem;
    padding-top: 14px;
    padding-bottom: 6px; }
  .subnav ul li:nth-child(1) a::before,
  .subnav ul li:nth-child(2) a::before,
  .subnav ul li:nth-child(3) a::before {
    width: 30px;
    height: 30px; }
  .subbanner .picBg-1, .subbanner .picBg-2 {
    width: 50%; }
    .subbanner .picBg-1 img, .subbanner .picBg-2 img {
      background-size: cover; }
  .proContent {
    padding-top: 56px;
    margin-bottom: 96px; }
    .proContent p.h2 {
      font-size: 2rem;
      margin-bottom: 32px; }
      .proContent p.h2 span {
        font-size: 1.5rem; }
    .proContent ul li {
      width: 48%;
      margin-bottom: 72px; } }

/*# sourceMappingURL=all.css.map */
